.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 99%;
}

.footer-link {
  margin: 5px;
}

.footer-logo {
  height: 60px;
  width: 60px;
  padding: 0px;
  background-color: transparent;
}

.logo-container {
  height: 50px;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.insta-logo {
  width: 80px;
  height: 60px;
}
